body{
    background-color: var(--confColorLight);
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}   
body>main{
    flex: 1;
}
body>header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: var(--gaps);
    padding: var(--gapTHxxs);
    background-color: var(--confColorLight);
    color: var(--confColorDark);
}
body>footer, body>header {
    font-family: var(--confFont);
}
body>header h1{
    font-family: var(--confType);
    font-size: var(--confFont);
}
body>header p, body>footer p{
    font-family: var(--confType);
    font-size: var(--confFont);
}
body>footer{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gapLrg);
    padding: var(--gapxxs);
    background-color: var(--confColorLight);
    color: var(--confColorDark);
    padding-right: 150px;
}
body>footer h4{
    font-family: var(--confType);
    font-size: var(--confFont);
}