
.section-enchere{
    display: flex;
    flex-flow: column;
    gap: var(--gapl);
    padding: var(--gapl);
    max-width: 1400px;
}
.section-enchere>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: var(--gapm);
}
.section-enchere>div>div{
    position: relative;
    flex: 1;
}
.section-enchere>div aside{
    position: sticky;
    top: var(--gapl);
}
.section-enchere>div>section{
    flex: 3;
}
.section-enchere nav{
    display: flex;
    background-color: var(--colorDark);
    flex-flow: row;
    gap: var(--gapxs);
}
.section-enchere nav button{
    border: none;
    background: none;
    font-size: var(--fontText);
    font-family: var(--typeHead);
    color: var(--colorLight);
    padding:var(--gapTHxxs) var(--gapxs);
}
.section-enchere nav button.selected{
    color: var(--colorMainL);
}
@media screen and (max-width:450px) {
    .section-enchere{
        padding: var(--gapxs);
    }
}