
.section-enchere{
    display: flex;
    flex-flow: column;
    gap: var(--gapl);
    padding: var(--gapxs);
    max-width: 1400px;
}
.section-enchere>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: var(--gapm);
}
.section-enchere>div>div{
    position: sticky;
    top: 0;
    z-index: 1;
    flex: 1;
}
.section-enchere>div aside{
    position: sticky;
    top: var(--gapl);
}
.section-enchere>div>section{
    flex: 3;
}
.section-enchere nav>*+*{
    margin-top: var(--gapxxs);
}
.section-enchere nav>div{
    display: flex;
    flex-flow: row;
    gap: var(--gapxs);
}
.section-enchere nav>div:first-of-type{
    background-color: var(--colorDark);
}
.section-enchere nav>div:first-of-type button{
    border: none;
    background: none;
    font-size: var(--fontText);
    font-family: var(--typeHead);
    color: var(--colorLight);
    padding:var(--gapTHxxs) var(--gapxs);
}
.section-enchere nav>div:first-of-type button.selected{
    color: var(--colorMainL);
}
.section-enchere nav>div button:hover{
    cursor: pointer;
}
.section-enchere nav h4{
    font-family: var(--typeText);
    font-size: var(--fontText);
    font-weight: 400;
}
.section-enchere nav>div:last-of-type button{
    padding: 0;
    font-family: var(--typeText);
    font-size: var(--fontText);
    background: none;
    border: none;
}

@media screen and (min-width: 500px) {
    .section-enchere{
        padding: var(--gapl);
    }
}
@media screen and (min-width: 710px) {

    .section-enchere>div>div{
        position: relative;
    }
    .section-enchere>div>div header span{
            display: none;
        
    }
}