
body>main>main{
    padding: var(--gapxxl);
    max-width: 1400px;
    min-width: 100%;
    margin: auto;
}

@media screen and (max-width:450px) {
    body>main>main{
        padding: var(--gapxs);
    }
}