
.navigation-sec{
    display: flex;
    flex-flow: row;
    background-color: var(--colorMainD);
    padding: var(--gapxs);
    justify-content: center;
}
.navigation-sec a{
    font-size: var(--fontText);
    color: var(--colorLight);
    padding: 0 var(--gaps);
}
.navigation-sec a:not(:last-of-type){
    border-right: 1px solid var(--colorLight);
}