
.navigation-icon{
    position: fixed;
    display: flex;
    flex-flow: column;
    bottom: var(--gapl);
    right: 0;
    gap: var(--gapxs);
    z-index: 1;
}
.navigation-icon button{
    border-radius: .4em 0 0 .4em;
    border: var(--borderStd);
    border-right: none;
    box-shadow: 1px 1px var(--colorDark);
    font-size: var(--fonts);
    font-weight: 600;
    display: block;
    padding: var(--gapxxs);
    background-color: var(--colorNeutral);
    width: 40px;
    height: 40px;
}
.navigation-icon img{
    width: 100%;
    display: block;
}