.navigation-sec{
    background-color: var(--colorMainD);
}
.navigation-sec>div{
    margin: auto;
    max-width: 1400px;
    display: flex;
    flex-flow: row;
    padding: var(--gaps);
}
.navigation-sec a{
    font-size: var(--fontText);
    color: var(--colorLight);
    padding: 0 var(--gaps);
}
.navigation-sec a:not(:last-of-type){
    border-right: 1px solid var(--colorLight);
}