.button-text{
    background-color: var(--colorSecD);
    border-radius: .4em;
    border: 1px solid var(--colorDark);
    box-shadow: .075em .075em var(--colorDark);
    color: var(--colorLight);
    display: block;
    font-family: var(--typeText);
    font-size: var(--fontxs);
    line-height: 1em;
    max-width: max-content;
    padding: var(--gapTHxxs) var(--gapm);
}

/* variants */
.button-text.varl{
    font-size: var(--fonts);
}
.button-text.varM{
    background-color: var(--colorMainD);
}
.button-text.varN{
    background-color: var(--colorNeutral);
}
.button-text.varNL{
    color: var(--colorDark);
    background-color: var(--colorNeutralL);
}
.button-text.varC{
    background-color: var(--colorComp);
    color: var(--colorDark);
}
.button-text.varD{
    background-color: var(--colorLight);
    color: var(--colorDark);
}

/* états */
.button-text:hover{
    cursor: pointer;
    filter: brightness(1.1);
}
.button-text:active{
    box-shadow: inset .075em .075em var(--colorDark);
    transform: translateX(1px) translateY(1px);
}