.button-icon{
    display: flex;
    border: 1px solid var(--colorDark);
    box-shadow: .075em .075em var(--colorDark);
    align-items: center;
    justify-content: center;
    max-width: max-content;
    aspect-ratio: 1/1;
    border-radius: 100%;
    padding: var(--gapxxs);
    background-color: var(--colorComp);
}
.button-icon img{
    width: clamp(24px, 3vw, 30px);
    height: clamp(24px, 3vw, 30px);
    display: block;
}
.button-icon.heart picture{
    transform: translateY(6%);
}
.button-icon.bell picture{
    transform: translateX(6%) scale(1.1);
}
.button-icon.light{
    background-color: var(--colorLight);
}
.button-icon.light{
    background-color: var(--colorCompL);
}
.button-icon:hover{
    filter: brightness(1.1);
    cursor: pointer;
}
.button-icon:active{
    box-shadow: inset .075em .075em var(--colorDark);
}
