
.prix-tag{
    max-width: max-content;
    background-color: var(--colorLight);
    border: var(--borderStd);
    box-shadow: inset .05em .05em var(--colorDark);
    border-radius: .2em;
    display: block;
    font-family: var(--typeHead);
    font-size: var(--fontm);
    font-weight: 400;
    padding: var(--gapxxs);
}
.prix-tag.depart{
    background-color: var(--colorNeutral);
    font-size: var(--fontxs);
}
.prix-tag.small{
    font-size: var(--fontxs);
}
.prix-tag.large{
    max-width: 100%;
    text-align: center;
    font-weight: 500;
}