
.box-filter{
    border: 1px solid var(--colorDark);
    border-radius: .6em;
    box-shadow: .075em .075em var(--colorDark);
    max-width:max-content ;
    background-color: var(--colorNeutral);
    overflow: hidden;
}
.box-filter h2{
    font-size: var(--fontl);
}
.box-filter header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: var(--gapm);
    padding: var(--gapxs);
    background-color: var(--colorNeutralL);
}
.box-filter header button{
    font-size: var(--fontxxs);
    flex: 1;
    align-self: center;
}
.box-filter>section{
    padding: var(--gaps);
}
.box-filter section input[type='checkbox']{
    margin-right: var(--gapxxs);
    appearance: none;
    width: 1em;
    height: 1em;
    border: 1px solid var(--colorDark);
    border-radius: .2em;
    background-color: var(--colorNeutralL);
    box-shadow: .075em .075em var(--colorDark);
}
.box-filter input:hover{
    cursor: pointer;
}
.box-filter section input[type='checkbox']:checked{
    background-color: var(--colorSec);
}
.box-filter section>div>div:first-of-type{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
.box-filter section>div>div:last-of-type{
    padding: var(--gapxs);
    background-color: var(--colorNeutralL);
    border: 1px solid var(--colorDark);
    border-radius: .6em;
    box-shadow:inset .075em .075em var(--colorDark);
}
.box-filter section span:hover{
    cursor: pointer;
}
.box-filter section>section{
    background-color: var(--colorNeutral);
    padding: var(--gapxs);
    border: 1px solid var(--colorDark);
    border-radius: .6em;
    box-shadow: inset .075em .075em var(--colorDark);
}
.box-filter>section>*+*{
    margin-top: var(--gaps);
}
.box-filter>section aside{
    display: flex;
    flex-flow: row;
    gap: var(--gapm);
}