.button-text{
    display: block;
    background-color: var(--colorSec);
    border-radius: .4em;
    border: 1px solid var(--colorDark);
    box-shadow: .075em .075em var(--colorDark);
    color: var(--colorLight);
    font-size: var(--fontxs);
    font-family: var(--typeText);
    line-height: 1em;
    max-width: max-content;
    padding: var(--gapxxs) var(--gapl);
}

/*variants couleurs*/
.button-text.varM{
    background-color: var(--colorMain);
}
.button-text.varN{
    background-color: var(--colorNeutral);
}
.button-text.varNL{
    background-color: var(--colorNeutralL);
    color: var(--colorDark);
}
.button-text.varC{
    background-color: var(--colorComp);
    color: var(--colorDark);
}
.button-text.varD{
    background-color: var(--colorLight);
    color: var(--colorDark);
}

.button-text.tri{
    border: none;
    padding: var(--gapTHxxs) var(--gapxs);
    color: var(--colorDark);
    font-family: var(--typeHead);
    border-radius: 100px;
}
.button-text.ital{
    border: none;
    padding: var(--gapTHxxs) var(--gaps);
    font-family: var(--typeText);
    font-style: italic;
    font-weight: 700;
    border-radius: 100px;
}

/* states */
.button-text:hover{
    cursor: pointer;
    filter: brightness(1.1);
}
.button-text:active{
    box-shadow: inset .075em .075em var(--colorDark);
    transform: translateX(1px) translateY(1px);
}