
.card-lot{
    position: relative;
    background-color: var(--colorComp);
    padding: var(--gaps);
    border-radius: .4em;
    border: 1px solid var(--colorDark);
    box-shadow: .075em .075em var(--colorDark);
    max-width: 900px;
    min-width: 340px;
}
.card-lot.en-vedette{  
    margin-top: var(--gapl);
}
.card-lot.en-vedette>div{
    background-color: var(--colorMainL);
}
.card-lot>div{
    border-radius:.4em .4em  0 0;
    border: 1px solid var(--colorDark);
    position: absolute;
    background-color: var(--colorSecL);
    bottom: 100%;
    padding: var(--gapTHxxs) var(--gapxxs);
}
.card-lot>div p{
    font-family: var(--typeHead);
    font-weight: 600;
}
.card-lot section{
    display: flex;
    flex-flow: row wrap;
    gap: var(--gaps);
    justify-content: center;
    row-gap: var(--gapxl);
}
.card-lot>*+*{
    margin-top: var(--gaps);
}
.card-lot h3{
    font-size: var(--fontl);
    line-height: 1em;
}
.card-lot header strong{
    display: block;
    line-height: 1.2em;
    font-size: var(--fonts);
    font-style: italic;
}
.card-lot section:first-of-type div>img{
    margin: auto;
    width: 100%;
    box-shadow: .075em .075em var(--colorDark);
    max-width: 400px;
    min-width: 160px;
    display: block;
    aspect-ratio: 1/1;
    border-radius: .3em;
    border: 1px solid var(--colorDark);
    object-fit: cover;
    overflow: hidden;
}
.card-lot section:first-of-type>div>*+*{
    margin-top: var(--gapxs);
}
.card-lot section:first-of-type>div:first-of-type{
    flex: 1 0 300px;
}
.card-lot section:first-of-type>div:nth-of-type(2){
    flex: 0 0 140px;
}
.card-lot section:first-of-type>div:nth-of-type(2) p{
    font-style: italic;
}
.card-lot section:first-of-type>div span{
    display: block;
    font-size: var(--fontxs);
    font-family: var(--typeHead);
    font-weight: 400;
}
.card-lot section:first-of-type>div:nth-of-type(3){
    flex: 1 1 150px;
}

.card-lot section:last-of-type{
    align-items: end;
    gap: var(--gapxs);
}
.card-lot section:last-of-type>div{
    display: flex;
    flex-flow: row wrap;
    gap: var(--gapxs);
    align-items: center;
}
.card-lot section:last-of-type>div:first-of-type>div{
    display: flex;
    flex-flow: row;
    gap: var(--gaps);
}
.card-lot section:last-of-type>div:first-of-type{
    row-gap: var(--gapl);
    flex: 4; 
}
.card-lot section:last-of-type>div:last-of-type{
    flex: 3;
    justify-content: end;
    text-align: end;
}
.card-lot section:last-of-type>div:last-of-type strong{
    display: block;
    padding: var(--gapxxs);
    background-color: var(--colorLight);
    font-family: var(--typeHead);
    font-size: var(--fontm);
    font-weight: 400;
    border-radius: .2em;
    border: 1px solid var(--colorDark);
    box-shadow: inset .05em .05em var(--colorDark);
}
.card-lot span img{
    width: 20px;
}
.card-lot th{
    font-family: var(--typeHead);
    font-size: var(--fontxs);
    line-height: .8em;
}
.card-lot td{
    padding: 0;
    text-align: center;
    line-height: .8em;
}

@media screen and (min-width:620px){
    .card-lot section:last-of-type>div:first-of-type>div{
        order:2;
    }
}