
.entete{
    margin: auto;
    max-width: 1400px;
    padding:  var(--gapxxl) var(--gapl);
}
.entete div{
    max-width: max-content;
}
.entete p{
    display: none;
    font-size: var(--fonts);
}
.entete img{
    margin-top: var(--gapxxs);
    display: block;
    width: 100%;
}
