
.file-lot{
    max-width: 1400px;
    min-width: 340px;
    border: var(--borderStd);
    padding: var(--gaps);
}
.file-lot header{
    border-bottom: 1px solid var(--colorComp);
}.file-lot h2{
    
}
.file-lot section{
    display: flex;
    flex-flow: row wrap;
    gap: var(--gaps);
    position: relative;
    row-gap: var(--gapxl);
}
.file-lot figure div{
    display: flex;
    flex-flow: row;
    gap: var(--gaps);
    justify-content: space-between;
    padding: var(--gapxs);
}
.file-lot figure picture{
    width: 100%;
    display: block;
    border: var(--borderStd);
    border-radius: .4em;
    box-shadow: 1px 1px var(--colorDark);
    overflow: hidden;
    object-fit: cover;
}
.file-lot figure div picture{   
    height: 50px;
    width: 50px;
}
.file-lot figure  img{
    display: block;
    height: 100%;
    width: 100%;
}








.file-lot>section>figure{
    flex: 0 0 300px;
}
.file-lot>section>div:first-of-type{
    flex: 3;
}
.file-lot>section>div:last-of-type{
    flex: 2;
}










/* icone mise */
.file-lot span img{
    width: 20px;
}

/* temps */
.file-lot th{
    font-family: var(--typeHead);
    font-size: var(--fontxs);
    line-height: .8em;
}
.file-lot td{
    line-height: .8em;
    padding: 0;
    text-align: center;
}

