
.file-lot{
    max-width: 1400px;
    min-width: 330px;
}

.file-lot>header{
    border-bottom: 1px solid var(--colorComp);
}
.file-lot{
    display: flex;
    flex-flow: row wrap;
    gap: var(--gapm);
    position: relative;
    row-gap: var(--gapxl);
}
.file-lot figure div{
    display: flex;
    flex-flow: row;
    gap: var(--gaps);
    justify-content: space-between;
    padding: var(--gapxs);
}
.file-lot figure picture{
    width: 100%;
    display: block;
    border: var(--borderStd);
    border-radius: .4em;
    box-shadow: 1px 1px var(--colorDark);
    overflow: hidden;
    object-fit: cover;
}
.file-lot figure div picture{   
    height: 50px;
    width: 50px;
}
.file-lot figure img{
    display: block;
    height: 100%;
    width: 100%;
}
.file-lot h3{
    font-size: var(--fonts);
    font-family: var(--typeText);
    font-style: italic;
}
.file-lot main>section>*+*{
    margin-top: var(--gaps);
}
.file-lot ul{
    font-size: var(--fontText);
}
.file-lot ul>*+*{
    margin-top: var(--gapxs);
}
.file-lot>figure{
    flex: 0 0 320px;
}
.file-lot>div:first-of-type{
    flex: 3 0 300px;
}
.file-lot>div:last-of-type{
    flex: 1 0 240px;
}
.file-lot section main>*+*{
    margin-top: var(--gaps);
}

.file-lot header section{
    align-items: center;
    border-bottom: 1px solid var(--colorComp);
    border-top: 1px solid var(--colorComp);
    display: flex;
    flex-flow: row wrap;
    gap: var(--gapm);
    justify-content: space-between;
    padding: var(--gaps) 0;
}


.file-lot section:last-of-type ul{
    display: flex;
    gap: var(--gaps);
    padding: var(--gapxs) 0;
}
.file-lot section:last-of-type li{
    margin: 0;
}
.file-lot header a{
    font-weight: bold;
    color: var(--colorMainD);
}
.file-lot header section>div:last-of-type>*+*{
    margin-top: var(--gaps);
}



.file-lot div>main>*+*{
    margin-top: var(--gaps);
}

.file-lot>section>div:first-of-type>*+*{
    margin-top: var(--gapm);
}

.file-lot img:hover{
    cursor: pointer;
}
/* icone mise */
.file-lot span img{
    width: 20px;
}

/* temps */
.file-lot th{
    font-family: var(--typeHead);
    font-size: var(--fontxs);
    line-height: .8em;
}
.file-lot td{
    line-height: .8em;
    padding: 0;
    text-align: center;
}

