
.hero-entete{
    margin: auto;
    max-width: 1400px;
    padding:  var(--gapl);
}
.hero-entete div{
    max-width: max-content;
}
.hero-entete p{
    display: none;
    font-size: var(--fonts);
}
.hero-entete img{
    margin-top: var(--gapxxs);
    display: block;
    width: 100%;
}
