
body{
    font-family: var(--typeText);
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fontHead);
}
p{
    font-size: var(--fontText);
}
/* p:first-of-type{
    font-size: var(--fontxxs);
}
p:nth-of-type(2){
    font-size: var(--fontText);
}
p:nth-of-type(3){
    font-size: var(--fontxs);
}
p:nth-of-type(4){
    font-size: var(--fonts);
}
p:nth-of-type(5){
    font-size: var(--fontm);
}
p:nth-of-type(6){
    font-size: var(--fontl);
}
p:nth-of-type(7){
    font-size: var(--fontxl);
}
p:nth-of-type(8){
    font-size: var(--fontxxl);
}
h2{
    font-size: var(--fontHuge);
}
h1{
    font-size: var(--fontHuger);
} */

/* a:nth-of-type(3){
    padding: var(--gaps);
}
a:nth-of-type(4){
    padding: var(--gapm);
}
a:nth-of-type(5){
    padding: var(--gapl);
}
a:nth-of-type(6){
    padding: var(--gapxl);
}
a:nth-of-type(7){
    padding: var(--gapxxl);
}
a:nth-of-type(8){
    padding: var(--gapHuge);
} */